html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff4f4;
  font-family: Roboto Slab, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

.snipcart-cart__secondary-header {
  background-color: #FFD966;
}

.snipcart__icon {
  cursor: pointer;
}

.snipcart-modal__container .snipcart-layout--large {
  background-color: #FFF4F4;
}